@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: 
        url("../fonts/roboto.woff") format("woff"),
        url("../fonts/roboto.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: 
        url("../fonts/robotobold.woff") format("woff"),
        url("../fonts/robotobold.woff2") format("woff2");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: 
        url("../fonts/robotomedium.woff") format("woff"),
        url("../fonts/robotomedium.woff2") format("woff2");
}
/* домашка по 3 уроку - стили для body и 2х заголовков */
html, 
body {
    min-height: 100%;
    margin: 0;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    background-color: rgb(132, 157, 143);
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
a {
    color: rgb(255, 255, 255);
}
.subsection-title {
    margin: 0 0 20px 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.clause-title {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul,
p,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn{
    display: inline-block;
    border: 0;
    padding: 10px 18px 10px 18px;
    border-radius: 22px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(0deg, rgb(231, 74, 53), rgb(242, 104, 67));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-decoration: none;
}
.btn:hover,
.btn:focus {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                      linear-gradient(0deg, rgb(231, 74, 53), rgb(242, 103, 65));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}
.btn:active {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), 
                      linear-gradient(0deg, rgb(231, 74, 53), rgb(242, 104, 67));
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}
/* слайдер */
.check-slide {
    display: none;
}
.check-slide:nth-of-type(1):checked ~.wrapper {
    background-color: rgb(132, 157, 143);
    background-image: url("../img/backlight1.png");  
}
.check-slide:nth-of-type(2):checked ~.wrapper {
    background-color: rgb(137, 150, 166);
    background-image: url("../img/backlight2.png");  
}
.check-slide:nth-of-type(3):checked ~.wrapper {
    background-color: rgb(157, 139, 132);
    background-image: url("../img/backlight3.png"); 
}
.wrapper {
    transition: background-color 1.4s;
    background-repeat: no-repeat; 
    background-position: center top;
    min-height: 100%;
    min-width: 900px;
}
.slider p {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    margin: 316px 0 26px 0;
}
.slider a.btn {
    font-size: 32px;
    line-height: 44px;
    border-radius: 32px;
    padding: 10px 41px 10px 41px;
}
.slider {
    height: 584px;
    margin-bottom: -20px;
    position: relative;
}
.slide {
    background-repeat: no-repeat;
    background-position: center top; 
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 1.4s;
}
.slide-green {
    background-image: url("../img/ice-cream1.png"); 
}
.slide-blue {
    background-image: url("../img/ice-cream2.png"); 
}
.slide-purple {
    background-image: url("../img/ice-cream3.png"); 
}
.check-slide:nth-of-type(1):checked ~.wrapper .slide-green,
.check-slide:nth-of-type(2):checked ~.wrapper .slide-blue,
.check-slide:nth-of-type(3):checked ~.wrapper .slide-purple {
    opacity: 1;
    z-index: 1;
}
.slider-control {
    position: absolute;
    z-index: 1;
    bottom: 82px;
    left: 2.3%;
}
.slider label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 6px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}
.slider label:hover,
.slider label:focus {
    background-color: rgba(255, 255, 255, 0.4);
}
.check-slide:nth-of-type(1):checked ~.wrapper .label-green,
.check-slide:nth-of-type(2):checked ~.wrapper .label-blue,
.check-slide:nth-of-type(3):checked ~.wrapper .label-purple {
    background-color: rgb(255, 255, 255);
}
/* сетка + шапка - каша, перепишу все по секциям */
.layout-block {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}
.social-networks-list,
.main-nav-list,
.action-menu-list,
.popular-items,
.catalog-items,
.features-list,
.news-block,
.additional-links-list {
    display: flex;
}
.social-networks-list {
    justify-content: flex-start;
    align-items: center;
}
.popular-items,
.catalog-items,
.features-list,
.news-block,
footer .additional-wrap {
    justify-content: space-between;
}
.popular-items,
.features,
.news {
    margin-bottom: 40px;
}
/* шапка */
header .additional-wrap {
    padding-top: 9px;
    padding-bottom: 11px;
}
.additional-wrap {
    display: flex;
    justify-content: flex-start;
}
.additional-wrap nav {
    margin-top: 14px;
}
.action-menu {
    margin-left: auto;
}
.action-menu-list {
    justify-content: space-between;/* или flex-end...*/
}
.action-menu-item {
    margin: 0 5px; /* переделать отступы */
}
.main-nav-list,
.action-menu,
.action-menu-item {
    position: relative;
}

.main-nav-list {
    margin-left: 3px;
}
.main-nav-item:first-child {
    margin-left: 7px;
}
.main-nav-item {
    padding: 6px 14px 8px 14px;
    margin-right: 1px;
    height: 32px;
    border-radius: 14px;
    background-color: rgb(247, 246, 243);
}
.main-nav-item > a {
    color: rgb(50, 50, 50);
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 700;
}
.main-nav-item:last-child {
    margin-right: 0;
}
.inner-menu,
.appearance {
    display: none;
    position: absolute;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
    margin-top: 5px;
    top: 100%;
    left: 0;
}
.search a {
    font-size: 0;
}
.inner-menu a{
    color: black;
    text-decoration: none;
}
.inner-menu::before{
    display: block;
    content: "";
    background-color: transparent;
    height: 5px;
    margin-top: -25px;
    margin-bottom: 15px;
}
.main-nav-item:hover > .inner-menu,
.action-menu-item:hover > .appearance {
    display: block;
}
.info {
    position: absolute;
    top: 100%;
    right: 0;
}
.catalog-items,
.features-list {
    flex-wrap: wrap;
}
.news,
.subscription {
    width: 46.6%;
    border-radius: 12px;
}
.additional-wrap,
.address {
    padding: 0 2.3% 0 2.3%;    
}
/* бонусы */
.bonus {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.bonus section {
    width: 46.6%;
    border-radius: 12px;
}
.bonus-confiture {
    background: url("../img/raspberry.jpg") no-repeat bottom center;
    margin: 0 1.1% 0 2.3%;

}
.bonus-chocolate {
    background: url("../img/chocolate.jpg") no-repeat bottom center;
    margin: 0 2.3% 0 1.1%;
    z-index: 2;
}
.bonus section {
    padding: 23px 22px 23px 21px;
    min-height: 134px;
}
.bonus p {
    min-height: 88px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.bonus .btn,
.subscription .btn {
    float: right;
}
/* популярные товары и каталог */
.catalog-item {
    width: 22.2%;
    margin: 0 1.1% 0 1.1%;
    text-align: center;
}
.catalog-item img {
    max-width: 100%;
    height: auto;
}
.catalog-item:nth-of-type(4n-3) {
    margin-left: 2.3%;
}
.catalog-item:nth-of-type(4n) {
    margin-right: 2.3%;
}
.item-container,
.catalog-item {
    position: relative;
    display: block;
}
.item-container img {
    border-radius: 50%;
}
.item-price {
    position: absolute;
    bottom: 18px;
    left: 0;
    font-size: 45px;
    font-weight: 700;
}
.popular-items .item-container::before {
    display: block;
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    border-radius: 30px;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255) url("../img/hit.svg") no-repeat;
    z-index: 2;
}
.catalog-item p{
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 12px;
}
.catalog-item .btn {
    display: none; 
}
.catalog-item:hover,
.catalog-item:nth-of-type(4n-3):hover,
.catalog-item:nth-of-type(4n):hover {
    padding: 10px 1.1% 15px 1.1%;
    width: 24.4%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-top: -10px;
}
.catalog-item:nth-of-type(4n-3):hover {
    margin-left: 1.2%;    
}
.catalog-item:nth-of-type(4n):hover {
    margin-right: 1.2%;    
}
.catalog-item:hover .btn {
    display: block;
}
.catalog-item:hover p {
    padding-bottom: 12px;
}
/* блок достоинства    */
.features {
    margin-left: 2.3%;
    margin-right: 2.3%;
    border-radius: 12px;
    background: rgb(238, 225, 198) url("../img/wafer.jpg") repeat;
    color: rgb(0, 0, 0);
    padding: 23px; /*уточнить */
}
.features p {
    width: 100%;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features li {
    max-width: 48.85%;
    padding-left: 60px; /*уточнить */
    padding-top: 25px; /*уточнить */
}
.features-list li{
    background-repeat: no-repeat;
    background-position: top left;
}
.ice-cream {
    background-image: url("../img/ice-cream.svg");
}
.eco-friendly {
    background-image: url("../img/eco.svg");
}
.good-cow {
    background-image: url("../img/cow.svg");
}
.thermopack{
    background-image: url("../img/thermometer.svg");
}
/* блок новости и подписка */
.news {
    background: url("../img/strawberry.jpg") no-repeat center center;
    margin: 0 1.1% 0 2.3%;
}
.subscription {
    margin: 0 2.3% 0 1.1%;
    background-image: url("../img/post-bg.png");
    background-color: rgb(248, 247, 244);
    background-repeat: repeat;
    padding: 5px;
    background-origin: border-box;
}
.subscription-wrapper {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(248, 247, 244);
    border-radius: 12px;
}
/* подвал */
.social-networks-list li {
    margin-right: 11px;
}
a.social-link svg {
    fill: rgb(255, 255, 255);
    fill-opacity: 0.8;
    border: 2px solid rgba(255, 255, 255, 0.47);
    border-radius: 50%;
}
a.social-link:hover svg,
a.social-link:focus svg {
    fill-opacity: 1;
    border: 2px solid rgb(218, 226, 222);
}
a.social-link:active svg {
    fill: rgb(233, 233, 233);
    border: 2px solid rgb(218, 226, 222);
}
.additional-links-list li {
    max-width: 50%;
}




